.title-text {
    border:none;
   width: 100%;
   }
   input:focus {
    outline: none;
  } 
  .buttons {
     margin-left: 70%;
  }
  .remove-button {
     margin-left: auto;
     margin-top: -8px;
  }
  #keep-icon1 {
     width: 30px;
     height: 30px;
   
  }