<body>
<div class="forgetDiv">
    <mat-card layout-align="center center">
        <form [formGroup]="forgetForm">
            <mat-card-header fxLayout="column" fxLayoutAlign="space-around center">
                <img mat-card-image src="/assets/image/forgetPassword.jpeg">
                
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
                <h1> {{message}}</h1>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="enter email" formControlName="email">
                    <mat-icon matSuffix>mail_outline</mat-icon>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="accent" [disabled]="!forgetForm.valid" (click)="onForget()">Submit</button>
                    
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>
</body>