
//   .matcard-box{
//   margin-left:-24px;
//   margin-top: -24px;
//   margin-right: -20px;
//   margin-bottom: -24px;
//     width:548px;
//     height:448px;
//   }
//   .flex-container {
//     display: flex;
//   //  flex-wrap: wrap;
//   margin-right: auto;
//   margin-left: auto;
//   }
//   .textarea_list{
//     width: 200px;
//   }
//   .textarea_list{
// border: none;
// outline: none;
//   }

.matcard-box{
  margin: 10px;
  width:400px;
}
.flex-container {
  display: flex;
 // margin-left: auto;
//margin-right: auto;

//  flex-wrap: wrap;
}
.textarea_list{
  width: 400px;
}
.textarea_list{
border: none;
outline: none;
}
.input_type
{
font-size:20px;
margin-left: -13px;
}